version: "3"
services:
  localstack:
    image: localstack/localstack:2.0
    networks:
      - hmpps
    container_name: localstack-oe
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sns,sqs
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - $PWD/src/test/resources/localstack:/docker-entrypoint-initaws.d

networks:
  hmpps:
